<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% t page.title %}</title>
    <meta name="description" content="{% t global.description %}">
    <!-- Primary Meta Tags -->
    <title>Kalndzirnavas</title>
    <meta name="title" content="Kalndzirnavas">
    <meta name="description" content="{%t global.description %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kalndzirnavas.lv/">
    <meta property="og:title" content="Kalndzirnavas">
    <meta property="og:description" content="{% t global.description %}">
    <meta property="og:image" content="{{ site.baseurl_root }}{{ '/assets/images/kalndzirnavas_meta.jpg' }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://kalndzirnavas.lv/">
    <meta property="twitter:title" content="Kalndzirnavas">
    <meta property="twitter:description" content="{% t global.description %}">
    <meta property="twitter:image" content="{{ site.baseurl_root }}{{ '/assets/images/kalndzirnavas_meta.jpg' }}">
    <link rel="stylesheet" href="{{ site.baseurl_root }}{{ '/css/styles.css' }}" type="text/css" async/>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
  