<nav class="site-menu">
    <ul>
        <li><a {% if page.namespace == "visiting" %}class="active"{% endif %}href="{% tl visiting %}">{% t pages.visiting %}</a></li>
        <li><a {% if page.layout == "post" %}class="active"{% endif %}{% if page.namespace == "blog" %}class="active"{% endif %}href="{% tl blog %}">{% t pages.blog %}</a></li>
        <li><a {% if page.namespace == "history" %}class="active"{% endif %}href="{% tl history %}">{% t pages.history %}</a></li>
        <li><a {% if page.namespace == "association" %}class="active"{% endif %}href="{% tl association %}">{% t pages.association %}</a></li>
        <li><a {% if page.namespace == "nature_millstone_gallery" %}class="active"{% endif %}href="{% tl nature_millstone_gallery %}">{% t pages.nature_millstone_gallery %}</a></li>
    </ul>
</nav>