$desktop: 1200px;
$tablet: 960px;
$mobile: 800px;

@mixin respond ($breakpoint) {
    @if $breakpoint==tablet {       
        @media only screen and (max-width: $desktop) {
            @content;
        }
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: $mobile) {
            @content;
        }
    }
}