@import "colors";
@import "breakpoints";

html, body {
    height: 100%;
    background-color: $white;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main, header, footer {
    width: $desktop;
    max-width: $desktop;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
    @include respond(tablet) {
        width: 100%;
        max-width: 100%;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}