@import "colors";
@import "breakpoints";

/*! Typebase.scss v0.1.0 | MIT License */

$baseFontSize:20 !default;
$baseLineHeight:1.5 !default;
$leading:$baseLineHeight * 1rem !default;
$scale:1.414 !default;

/* Setup */

html {
    font-family: 'Mulish', sans-serif;
    font-size: $baseFontSize / 16 * 100%;
    -webkit-font-smoothing: antialiased;
    @include respond(mobile) {
        font-size: $baseFontSize / 20 * 100%;
    }
}

p {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: 0;
    color: $black;
}
ul,
ol {
    margin-top: $leading;
    margin-bottom: $leading;
    li {
        line-height: $leading;
        color: $black;
    }
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
blockquote {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: $leading;
    color: $black;
}


$heading-font: 'News Cycle', sans-serif;
$paragraph-font: 'Mulish', sans-serif;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'News Cycle', sans-serif;
    margin-top: $leading;
    margin-bottom: 0;
    line-height: $leading;
    color: $black;
}
h1 {
    font-size: 2.5 * $scale * 1rem;
    line-height: 3 * $leading;
    margin-top: 2 * $leading;
}
h2 {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $leading;
    margin-top: 2 * $leading;
}
h3 {
    font-size: 1 * $scale * 1rem;
}
h4 {
    font-size: $scale / 2 * 1rem;
}
h5 {
    font-size: $scale / 3 * 1rem;
}
h6 {
    font-size: $scale / 4 * 1rem;
}

a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}